<!-- Se crea una estructura Dropdown -->
<ul id="dropdownMenu" class="dropdown-content">
  <!-- Operaciones -->
  {{> _operations}}
  <!-- fin Operaciones -->
</ul>
<nav class="black">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        📑 Sistema de registro
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="/">
            Inicio
          </a>
        </li>
        <li>
          <li>
          <a href="/admin">
            Administrador
          </a>
        </li>
        <li>
          <li>
          <a href="/users">
            Usuarios
          </a>
        </li>
        <li>
          <li>
          <a href="/inno">
            Proyectos innovadores
          </a>
        </li>
        <li>
          <a href="/about">
            Acerca de...
          </a>
        </li>
      <li>
          <a class="dropdown-trigger" href="#" data-target="dropdownMenu">
            Acciones
            <i class="material-icons right">
              arrow_drop_down
            </i>
          </a>
        </li>
      </ul>
      <!-- Visualización de navegacion para móviles -->
      <a href="#" data-target="slide-out" class="sidenav-trigger">
        <i class="material-icons">
          menu
        </i>
      </a>
      <ul id="slide-out" class="sidenav">
        <li>
          <a href="/">
            Inicio
          </a>
        </li>
        <li>
          <a href="/admin">
            Administrador
          </a>
        </li>
        <li>
          <a href="/users">
            Usuarios
          </a>
        </li>
        <li>
          <a href="/inno">
            Proyectos innovadores
          </a>
        </li>
        <!-- Operaciones -->
         {{> _operations}}
        <!-- Divisor -->
        <li class="divider"></li>
        <li>
          <a href="/about">
            Acerda De...
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>