  <div class="row center">
    <br>
    <div class="row">
<div class="col-sm-3">
<div class="container">
<div class="card" style="width:200px, height:300px">
<center>
<img class="card-img-side" src="/images/roman.jpg" alt="card" width=200 height=200>
</center>
<div class="card-body">
<h5 align="center">Zuriel Román Hernández</h5>
<h5 align="center">Administrador</h5>
<h5 align="center"><a href="https://github.com/RomanZurielH/sistema_registro/tree/dev">github</a></h5>
<br>
</br>
</div>
</div>
</div>
</div>
</br>