<br><br>
<div 
class="row center black lighten-10" 
style="padding: 2em; border-radius: 1em;">
  <h1 class="header center teal-text">
    Bienvenido al Sistema 
  </h1>
  <div class="row center">
    <h5 class="header col s12 light white-text text-darken-3">
      Un sistema que te permitirá registrar proyectos de residencias profesionales.
    </h5>
  </div>
  <div class="row center">
    <a href="/projects/add"
    class="btn-large waves-effect waves-light teal">
    Comenzar</a>
  </div>
</div