<div class="card" style="height: 350px; width: 350px;">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/meca.jpeg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Mini-Taser<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Mini-Taser<i class="material-icons right">close</i></span>
      <p>El proyecto presenta un pequeño taser que sirve para defensa personal, especializado para mujeres.</p>
    </div>
  </div>

  <div class="card" style="height: 350px; width: 350px;">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/cop.jpeg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Back-up database<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Back-up database<i class="material-icons right">close</i></span>
      <p>Proyecto que permite crear copias de seguridad externas de las base de datos de la institución.</p>
    </div>
  </div>