<br><br>
<div 
class="row center blue darken-4" 
style="padding: 2em; border-radius: 1em;">
<img src="/images/itgam.png" alt="">
  <h1 class="header center white-text text-darken-3">
    Usuarios 
  </h1>
  <div class="row center">
  <div class="row center">
    <br>
    <div class="row">
<div class="col-sm-3">
<div class="container">
<div class="card" style="width:200px, height:300px">
<center>
<img class="card-img-side" src="/images/Carlos.jpeg" alt="card" width=200 height=250>
</center>
<div class="card-body">
<h5 align="justify"> Juan Carlos Domínguez Benítez</h5>
<h5 align="justify">Carrera: Tecnologías de la información y comunicaciones </h5>
<h5 align="justify">No. Control: 181130091</h5>
<p></p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
ver perfil </button>
<div class="modal" id="myModal">
<div class="modal-dialog">
<div class="modal-content">   
<div class="modal-header">
<h2 class="modal-title">Residentes</h2>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</br>

<br>
    <div class="row">
<div class="col-sm-3">
<div class="container">
<div class="card" style="width:200px, height:300px">
<center>
<img class="card-img-side" src="/images/adriana.jpg" alt="card" width=200 height=300>
</center>
<div class="card-body">
<h5 align="justify">Adriana Saldivar Sánchez</h5>
<h5 align="justify">Carrera: Gestión Empresarial </h5>
<h5 align="justify">No. Control: 181130120</h5>
<p></p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
ver perfil </button>
<div class="modal" id="myModal">
<div class="modal-dialog">
<div class="modal-content">   
<div class="modal-header">
<h2 class="modal-title">Residentes</h2>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</br>

<br>
    <div class="row">
<div class="col-sm-3">
<div class="container">
<div class="card" style="width:200px, height:300px">
<center>
<img class="card-img-side" src="/images/Pedro.jpeg" alt="card" width=200 height=200>
</center>
<div class="card-body">
<h5 align="justify">Pedro Jiménez Saldivar</h5>
<h5 align="justify">Carrera: Ingeniera Ambiental</h5>
<h5 align="justify">No. Control: 181130138</h5>
<p></p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
ver perfil </button>
<div class="modal" id="myModal">
<div class="modal-dialog">
<div class="modal-content">   
<div class="modal-header">
<h2 class="modal-title">Residentes</h2>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</br>

</div>

