<br><br>
<div 
class="row center blue darken-1" 
style="padding: 2em; border-radius: 1em;">
<img src="/images/itgam.png" alt="">
  <h1 class="header center white-text text-darken-3">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="author" content="login administrador">
        <meta name="description" content="formulario de acceso">
        
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
        
       
        <link rel="stylesheet" href="/client/styles/mystyle.css">
        
        <style type="text/css">
            
        </style>
        
        <script type="text/javascript">
        
        </script>
        
    </head>
    
    <body>
        
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        Bienvenido
                    </div>
                    <form id="loginform">
                        <input class="login" type="text" name="usuario" placeholder="Usuario">
                        
                        <input class="login" type="password" placeholder="Contraseña" name="password">
                        
                        <button class="log" type="submit" title="Acceder" name="Acceder">Acceder </button>
                    </form>
                </div>
            </div>
        </div>